(
    root: (
        properties: {},
        children: {
            "button": (
                properties: {},
                children: {
                    "active": (
                        properties: {
                            "background": "#f91919",
                            "text_color": "#dddddd",
                            "border_radius": 15.0,
                        },
                        children: {},
                    ),
                    "hover": (
                        properties: {
                            "background": "#1dfd1d",
                            "text_color": "#dddddd",
                            "border_radius": 15.0,
                        },
                        children: {},
                    ),
                    "selected": (
                        properties: {
                            "background": "#f0f000",
                            "text_color": "#dddddd",
                            "border_radius": 10.0,
                        },
                        children: {},
                    ),
                },
            ),
            "text": (
                properties: {
                    "color": "#dddddd",
                },
                children: {},
            ),
            "container": (
                properties: {
                    "background": "#1d1d1d",
                    "background2": "#191919",
                },
                children: {},
            ),
        },
    ),
)
